#gridProductos{
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card{
    height:450px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    
}

.card-img-top{
    width: 80% ;
    height: auto;
}

.buttonsProducto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#dropdownMenuButton{
    font-size: 0.8rem;
    background-color: white;
    color: black;
    border: none;
}

#dropdownMenuButton:hover{
    background-color: aliceblue;
}

#ordenarDescendente{
    font-size: 0.8rem;
}

#ordenarAscendente{
    font-size: 0.8rem;
}

#row-ordenar{
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}

.tituloCarrito{
    margin-top: 40px;
    text-align: center;
}

#carritoCard{
    height: auto;
    
}

#rowCarrito{
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: auto;
    width: auto;
}

#productoCarrito{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.buttonsCarrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.btnsC{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
#precioCarritoUnidad{
    display: flex;
    flex-direction: row;
}

#totalTxt{
    font-size: 1.3rem;
    font-weight: 900;
}

#totalTxtPrecio{
    color: rgb(255, 73, 73);
    font-size: 1.3rem;
    font-weight: 600;
}